/* global.css */
body {
  background-color: #1a1a1a; /* Fundo cinza escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#root {
  width: 400px;  /* Largura fixa do "celular" */
  height: 850px; /* Altura fixa */
  background-color: #000;
  border-radius: 40px; /* Bordas arredondadas */
  box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
  overflow: hidden; /* Corta tudo que tentar sair da borda */
  display: flex;
}

/* Se for celular de verdade, tira a moldura */
@media (max-width: 500px) {
  #root {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}